* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #1a2932;
  --lighter-blue: #1f3640;
  --gray: #a8bfc9;
  --yellow: #f2b137;
  --turquoise: #2fc5bd;
  --box-shadow: 0px 8px 5px #0e2128;
}

body {
  background-color: var(--dark-blue);
}

p,
h1 {
  text-align: center;
}

.x {
  color: var(--turquoise);
}

.o {
  color: var(--yellow);
}

.gray-text {
  color: var(--gray);
}

.turquoise-text {
  color: var(--turquoise);
}
